@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Oswald:200,300,regular,500,600,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic&display=swap);
html {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

h1,
h2 {
  font-family: "Oswald";
  font-weight: 700;
  font-size: 65px;
  line-height: 1.47;
  color: #001f3d;
  margin: 0;
}

.wrapper {
  max-width: 1440px;
  min-width: 305px;
  margin: 0 auto;
  padding: 20px 30px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 24px;
  line-height: 1.37;
  border: 1px solid #000000;
  background-color: #fff;
  padding: 8px 12px;
  text-transform: uppercase;
}
button a {
  text-decoration: none;
  color: #000;
}

p {
  color: #000;
  margin: 20px 0 30px;
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 24px;
  line-height: 1.37;
}

.logo {
  width: 25%;
  min-width: 200px;
}
.logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

nav {
  width: 50%;
}

.menu {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.menu li {
  padding-right: 6%;
}
.menu a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: Oswald;
  font-weight: 400;
  font-size: 1.25rem;
  color: #333;
}

.header_search {
  width: 20%;
  min-width: 200px;
  position: relative;
  margin-right: 10px;
}
.header_search input {
  width: 100%;
  height: 40px;
  border-radius: 20px;
  border: 1px solid #a04955;
  padding: 0 10px 0 35px;
  font-family: Oswald;
  font-weight: 400;
  font-size: 0.9rem;
  color: #787878;
  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 10px 50%;
}

/* Гамбургер иконка */
.mobile_menu-btn {
  display: none;
  width: 30px;
  height: 30px;
  position: relative;
  z-index: 9;
  overflow: hidden;
  cursor: pointer;
}

.mobile_menu-btn span {
  width: 30px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.mobile_menu-btn span:nth-of-type(2) {
  top: calc(50% - 10px);
}

.mobile_menu-btn span:nth-of-type(3) {
  top: calc(50% + 10px);
}

/* Меняем гамбургер иконку, когда меню открыто */
.mobile_menu-btn.active span:nth-of-type(1) {
  display: none;
}

.mobile_menu-btn.active span:nth-of-type(2) {
  top: 50%;
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
      -ms-transform: translate(-50%, 0%) rotate(45deg);
          transform: translate(-50%, 0%) rotate(45deg);
  background-color: #fff;
}

.mobile_menu-btn.active span:nth-of-type(3) {
  top: 50%;
  -webkit-transform: translate(-50%, 0%) rotate(-45deg);
      -ms-transform: translate(-50%, 0%) rotate(-45deg);
          transform: translate(-50%, 0%) rotate(-45deg);
  background-color: #fff;
}

/* Меню, которое будет появляться */
.mobile_menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 80px 0;
  background: rgba(79, 79, 79, 0.9058823529);
  -webkit-transform: translateX(-200%);
      -ms-transform: translateX(-200%);
          transform: translateX(-200%);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  z-index: 8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 30px;
}

.mobile_menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  row-gap: 20px;
}

.mobile_menu.active {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.mobile_menu li {
  list-style-type: none;
}
.mobile_menu li a {
  font-family: Oswald;
  font-weight: 400;
  font-size: 1.5rem;
  color: #fff;
}

.mobile_search {
  width: 50%;
  min-width: 270px;
  position: relative;
}
.mobile_search input {
  width: 100%;
  height: 40px;
  border-radius: 20px;
  border: 1px solid #a04955;
  padding: 0 10px 0 35px;
  font-family: Oswald;
  font-weight: 400;
  font-size: 0.9rem;
  color: #787878;
  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 10px 50%;
}

.banner .container {
  padding: 90px 0;
}

.banner_text {
  width: 50%;
  padding-right: 6%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.banner_image_block {
  width: 50%;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  padding: 2% 0;
}

.banner_back_empty {
  width: 75%;
  height: 75%;
  border: 1px solid #a04955;
  position: absolute;
  bottom: 0;
  z-index: 0;
}

.banner_back_full {
  width: 80%;
  height: 75%;
  background-color: #a04955;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.banner_image {
  position: relative;
  left: 10%;
  z-index: 2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 600px;
  max-height: 560px;
}
.banner_image img {
  width: 100%;
  height: 100%;
}

.catalog_prew {
  background-color: #f1f1f1;
  color: #333;
}
.catalog_prew .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 80px 0;
}
.catalog_prew h2 {
  font-family: "Oswald";
  font-weight: 500;
  font-size: 36px;
  line-height: 1.47;
}
.catalog_prew p {
  font-family: "Oswald";
  font-weight: 500;
  font-size: 64px;
  line-height: 1.47;
}

.cards {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 15px;
}

.card {
  width: 280px;
  max-width: 280px;
  min-width: 200px;
  height: 420px;
  background-color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 30px 20px;
  margin: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

.card_image {
  width: 160px;
  height: 160px;
}
.card_image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.card_title {
  font-family: "Oswald";
  font-weight: 500;
  font-size: 24px;
  line-height: 1.5;
  text-align: center;
}

.price {
  font-family: "Oswald";
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}
.price span {
  font-weight: 200;
}

.add_btn {
  background-color: #a04955;
  color: #fff;
  background-image: url(../img/cartAdd.svg);
  background-repeat: no-repeat;
  background-position: 10px 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px 10px 5px 35px;
  text-transform: uppercase;
  font-family: "Oswald";
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  min-width: 135px;
}

.bestselling .container {
  padding: 90px 0;
}

.best_image_block {
  width: 50%;
  position: relative;
}

.best_back1 {
  width: 78%;
  height: 75%;
  position: absolute;
  z-index: 1;
  left: 0;
  bottom: -10px;
  border: 1px solid #a04955;
}

.best_back2 {
  width: 78%;
  height: 75%;
  position: absolute;
  z-index: 2;
  right: 0;
  top: 10px;
  border: 1px solid #a04955;
}

.best_image {
  position: relative;
  z-index: 3;
  max-width: 660px;
  max-height: 620px;
}
.best_image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.best_text {
  width: 50%;
  padding: 0 70px 0 60px;
}

.sale {
  background-color: #e5e5e5;
}
.sale .container {
  padding: 105px 90px;
}
.sale .container > div {
  width: 48%;
  text-align: center;
}
.sale .container p {
  margin: 20px auto 30px;
}
.sale button {
  width: 350px;
}

.sale_image {
  max-width: 550px;
  max-height: 515px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}
.sale_image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.sale_title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #a04955;
  opacity: 0.8;
  font-family: "Oswald";
  font-weight: 500;
  font-size: 36px;
  line-height: 1.47;
  color: #ffffff;
  padding: 15px 0;
}

.original {
  background-image: url(../img/original.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.original .container {
  padding: 40px 100px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin: 0;
}
.original h2 {
  color: #ffffff;
}
.original p {
  color: #ffffff;
}
.original button {
  background-color: #a04955;
  border: none;
}
.original button a {
  color: #fff;
}

.trend .container {
  padding: 90px 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  text-align: center;
}
.trend .container::before {
  content: "";
  width: 100%;
  height: 50%;
  background-color: #a04955;
  position: absolute;
  top: 90px;
  left: 0;
  z-index: 0;
}
.trend h2 {
  color: #ffffff;
  margin: 30px 0;
  position: relative;
  z-index: 1;
}

.trend_cards {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  position: relative;
  z-index: 1;
}
.trend_cards .trend_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 33.333%;
  max-width: 320px;
  min-width: 215px;
  height: 350px;
  background-color: #fff;
  border: 1px solid #a04955;
  padding: 0 30px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.trend_cards .trend_card_image {
  max-width: 200px;
  max-height: 200px;
}
.trend_cards .trend_card_image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.trend_cards .trend_card_title {
  font-family: "Oswald";
  font-weight: 500;
  font-size: 23px;
  line-height: 1.5;
  color: #333333;
}
.trend_cards button {
  background-color: #a04955;
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 18px;
  line-height: 1.37;
  border: none;
}
.trend_cards button a {
  color: #fff;
}

.legacy .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 50px;
  margin-bottom: 50px;
  position: relative;
  text-align: center;
}
.legacy .container::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 72%;
  background-color: #f3f3f3;
  z-index: 0;
}
.legacy .years_image {
  z-index: 1;
  max-width: 270px;
  max-height: 270px;
}
.legacy .years_image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.legacy h2 {
  z-index: 1;
}
.legacy p {
  z-index: 1;
}
.legacy button {
  padding: 8px 50px;
  z-index: 1;
}

footer {
  background-color: #a04955;
  color: #fff;
  padding-top: 50px;
}
footer .container {
  padding: 0 15px;
}
footer nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Oswald";
  line-height: 1.8;
  margin-bottom: 50px;
}
footer nav .footer_menu {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
footer nav .menu_title {
  font-weight: 600;
  font-size: 24px;
}
footer nav ul {
  list-style: none;
  font-weight: 400;
  font-size: 18px;
  padding: 0;
  margin: 0 0 15px 0;
}
footer nav ul a {
  color: #fff;
  text-decoration: none;
}

.subscribe {
  width: 45%;
  -ms-flex-item-align: start;
      align-self: start;
  font-family: "Oswald";
  line-height: 1.8;
  font-weight: 400;
  font-size: 18px;
}
.subscribe .menu_title {
  font-weight: 600;
  font-size: 24px;
}
.subscribe p {
  font-family: "Oswald";
  line-height: 1.8;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  margin-top: 0;
}
.subscribe fieldset {
  padding: 0;
  border: none;
}
.subscribe .input {
  width: 75%;
  height: 60px;
  background-color: #f3f3f3;
  padding: 8px 10px;
  padding-left: 25px;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.subscribe input[type=email] {
  border: none;
  color: #a04955;
  background-color: #f3f3f3;
  width: 64%;
}
.subscribe input[type=submit] {
  text-transform: uppercase;
  background-color: #a04955;
  border: none;
  color: #f3f3f3;
  height: 44px;
  width: 34%;
  cursor: pointer;
}

.copyright {
  padding: 10px 30px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.copyright p {
  margin: 0;
  font-family: "Oswald";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.8;
  color: rgba(0, 0, 0, 0.5);
}
.copyright a {
  color: inherit;
}

.up {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid #fff;
  background-color: #a04955;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  bottom: 50px;
  right: 100px;
  z-index: 99;
  cursor: pointer;
  opacity: 0.4;
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
}
.up:hover {
  opacity: 0.9;
}

.bread_search {
  height: 135px;
  width: 100%;
  padding: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}
.bread_search .breadcrumbs {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding-left: 40px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.3)), to(rgba(255, 255, 255, 0.3))), url(../img/home.png);
  background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url(../img/home.png);
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: 0 50%;
  font-family: "Oswald";
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5;
  text-transform: uppercase;
  overflow: hidden;
}
.bread_search .breadcrumbs a:first-child {
  margin-right: 10px;
}
.bread_search .breadcrumbs a:last-child {
  font-weight: 500;
}
.bread_search .breadcrumbs a {
  color: #555;
  text-decoration: none;
  white-space: nowrap;
}
.bread_search .breadcrumbs a::after {
  content: ">";
  margin-left: 10px;
  color: #a04955;
}
.bread_search .breadcrumbs .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.bread_search .breadcrumbs .nav :last-child {
  color: #999;
}
.bread_search .search {
  width: 75%;
  padding: 0 15px;
  margin-left: 10px;
  position: relative;
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.bread_search .search input {
  width: 100%;
  font-family: "Oswald";
  font-weight: 500;
  font-size: 64px;
  line-height: 1.5;
  color: #c4c4c4;
  border: none;
  border-bottom: 2px solid #c4c4c4;
}

.catalog {
  background-color: #e5e5e5;
}
.catalog .container {
  position: relative;
  padding: 20px 30px 80px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  min-width: 265px;
}
.catalog .filter {
  width: 28%;
  min-width: 205px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
  color: #000;
  border: 1px solid #a04955;
  padding: 25px;
  margin-right: 10px;
  font-family: "Oswald";
  font-weight: 400;
  font-size: 20px;
  line-height: 2;
}
.catalog .filter .filter_title {
  letter-spacing: 0.2em;
  color: #000000;
  text-transform: uppercase;
  position: relative;
  min-height: 40px;
  padding-right: 40px;
  cursor: pointer;
}
.catalog .filter .filter_title::after {
  content: url(../img/arrow.svg);
  position: absolute;
  right: 10px;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.catalog .filter hr {
  border: 0;
  border-bottom: 1px solid #a04955;
  margin: 20px 0;
}
.catalog .filter .filter_body form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px;
  padding-left: 5px;
  margin: 5px 0 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.catalog .filter .filter_body form input[type=radio] {
  display: none;
}
.catalog .filter .filter_body form span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 40px;
  height: 40px;
  background-color: #f1f1f1;
  font-weight: 300;
  cursor: pointer;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #a04955;
}
.catalog .filter .filter_brand {
  min-width: 150px;
}
.catalog .filter .filter_brand form {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 15px;
  max-height: 375px;
  overflow-y: auto;
}
.catalog .filter .filter_brand form input[type=checkbox] {
  display: none;
}
.catalog .filter .filter_brand form input[type=checkbox]:checked + label::before {
  content: url(../img/checked.png);
}
.catalog .filter .filter_brand form label {
  line-height: 1.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  cursor: pointer;
}
.catalog .filter .filter_brand form label::before {
  content: "";
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 25px;
  height: 25px;
  min-height: 25px;
  min-width: 25px;
  background-color: #f1f1f1;
  border: 1px solid #a04955;
}
.catalog .cards {
  margin: 0;
  width: 72%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 20px;
}
.catalog .cards .card {
  max-width: 300px;
  height: 500px;
  width: calc((100% - 60px) / 3);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.catalog .cards .card .color {
  width: 70%;
}
.catalog .cards .card .color form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.catalog .cards .card .color input[type=radio] {
  display: none;
}
.catalog .cards .card .color span {
  display: block;
  width: 25px;
  height: 25px;
  border: 2px solid #666;
  cursor: pointer;
}
.catalog .pagination {
  padding: 0 20px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.catalog .pagination .p_button {
  width: 35px;
  height: 35px;
  border: 1px solid #a04955;
  color: #a04955;
  font-family: "Oswald";
  font-weight: 400;
  font-size: 20px;
  line-height: 1.8;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.catalog .pagination .active {
  background-color: #a04955;
  color: #fff;
}
.catalog .pagination .arrow_next {
  background-image: url(../img/arrow.svg);
  background-repeat: no-repeat;
  background-position: 50%;
}
.catalog .pagination .arrow_prew {
  display: none;
  background-image: url(../img/arrow.svg);
  background-repeat: no-repeat;
  background-position: 50%;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(241, 241, 241, 0.8784313725);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 99;
}

.product {
  width: 100%;
  height: 100%;
  max-height: 840px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 60px;
  overflow: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.product_image {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.product_image .full_img {
  max-width: 450px;
  max-height: 450px;
  margin: 30px auto;
}
.product_image .full_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.product_image .small_imgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  width: 100%;
}
.product_image .small_imgs .small_img {
  width: 120px;
  height: 120px;
  border: 1px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.product_image .small_imgs .small_img img {
  width: 90%;
  height: 90%;
  -o-object-fit: contain;
     object-fit: contain;
}

.product_info {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding-left: 30px;
  font-family: "Oswald";
  line-height: 1.5;
  font-weight: 400;
  font-size: 15px;
  color: #000000;
  row-gap: 20px;
}

.product_title {
  font-weight: 600;
  font-size: 48px;
}
.product_title span {
  font-weight: 400;
  font-size: 15px;
  text-transform: uppercase;
}

.product_rate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.product_rate span {
  text-transform: uppercase;
}

.product_price span {
  font-weight: 400;
  font-size: 18px;
}
.product_price .price {
  font-weight: 600;
  font-size: 36px;
}

.product_colors span {
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
}
.product_colors .mcolors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  padding: 10px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.product_colors .mcolors input[type=radio] {
  display: none;
}
.product_colors .mcolors .color {
  width: 40px;
  height: 40px;
  border: 1px solid #a04955;
  cursor: pointer;
}

.product_size span {
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
}
.product_size .sizes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  padding: 10px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.product_size .sizes input {
  display: none;
}
.product_size .sizes .size {
  width: 40px;
  height: 30px;
  border: 1px solid #a04955;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
}

.product_add_btns {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.product_add_btns button {
  width: 48%;
  font-family: "Oswald";
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5;
  padding-left: 10%;
  cursor: pointer;
}
.product_add_btns button:first-child {
  background-color: #b93b54;
  color: #ffffff;
  background-image: url(../img/cartAdd.svg);
  background-repeat: no-repeat;
  background-position: 12% 50%;
  background-size: 24px;
  border: none;
}
.product_add_btns button:last-child {
  background-image: url(../img/like.svg);
  background-repeat: no-repeat;
  background-position: 12% 50%;
  background-size: 24px;
}

.product_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
}

.product_free {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fafafa;
  padding: 20px 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.product_free hr {
  width: 70%;
  border-color: #b93b54;
  opacity: 0.5;
}
.product_free .free_title {
  font-size: 24px;
}
.product_free .free_items {
  width: 100%;
  font-size: 14px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.product_free .free_items > div {
  width: 40%;
  padding-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.product_free .free_items .shipping::before {
  content: url(../img/delivery.svg);
  margin-right: 25px;
}
.product_free .free_items .exchange::before {
  content: url(../img/exchange.svg);
  margin-right: 25px;
}

.cart_icon {
  position: relative;
  width: 50px;
  height: 50px;
  min-width: 35px;
  min-height: 35px;
  cursor: pointer;
}
.cart_icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.cart_icon span {
  position: absolute;
  top: 11px;
  left: -6px;
  width: 18px;
  height: 18px;
  background-color: #a04955;
  border-radius: 50%;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 12px;
}

.cart {
  width: 90%;
  max-height: 100%;
  overflow: auto;
  background-color: #fff;
}
.cart h2 {
  font-size: 40px;
}
.cart table {
  width: 100%;
  height: auto;
}
.cart table thead {
  font-family: "Oswald";
  line-height: 1.5;
  font-weight: 400;
  font-size: 20px;
}
.cart table tbody tr {
  height: 100px;
  overflow: hidden;
}
.cart table img {
  max-height: 80px;
}
.cart table .close {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.result {
  width: 95%;
  background-color: #e5e5e5;
  padding: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  z-index: 3;
}
.result .result_item {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Oswald";
  line-height: 1.5;
  margin-bottom: 5px;
  cursor: pointer;
}
.result .result_item.bg {
  height: 70px;
  font-weight: 500;
  font-size: 24px;
}
.result .result_item.sm {
  height: 60px;
  font-weight: 500;
  font-size: 16px;
}
.result .res_img {
  height: 50px;
}
.result .res_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.disabled {
  display: none !important;
}

.active::after {
  -webkit-transform: rotate(-90deg) !important;
      -ms-transform: rotate(-90deg) !important;
          transform: rotate(-90deg) !important;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: pink;
}

.checked {
  border: 2px inset #0d0d0d !important;
}

.reset {
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #a04955;
  color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 17px 10px;
  margin-right: 3px;
  border-radius: 10px;
  cursor: pointer;
  -webkit-box-shadow: 3px 3px 7px black;
          box-shadow: 3px 3px 7px black;
}
.reset:active {
  -webkit-box-shadow: 1px 1px 3px black;
          box-shadow: 1px 1px 3px black;
}

.empty {
  background-color: #a04955;
  color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 30px;
  border-radius: 10px;
  font-family: Oswald;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.8px;
  margin-top: 50px;
}

.freeze {
  position: static;
  overflow: hidden;
}

@media all and (max-width: 1199px) {
  .banner_text {
    padding-right: 0;
  }
  .best_text {
    width: 55%;
    padding: 0 40px 0 50px;
  }
  .best_text h2 {
    font-size: 60px;
  }
  .sale .container {
    padding: 40px 40px 80px;
  }
  .sale .container p {
    font-size: 20px;
  }
  .original .container {
    width: 80%;
    padding: 40px 80px;
  }
  .legacy .container {
    padding-left: 40px;
    padding-right: 40px;
  }
  .legacy .container::before {
    height: 75%;
  }
  footer nav {
    width: 57%;
  }
  .subscribe {
    width: 40%;
  }
  .subscribe .input {
    width: 95%;
  }
  .catalog .cards .card {
    width: calc((100% - 40px) / 2);
  }
  .modal {
    padding: 0;
  }
  .product_add_btns button:first-child {
    background-position-x: 10%;
  }
  .product_add_btns button:last-child {
    background-position-x: 5%;
    padding-right: 5px;
    padding-left: 8%;
  }
  .product_free {
    padding: 20px;
  }
  .up {
    right: 50px;
  }
}
@media all and (max-width: 991px) {
  .wrapper {
    padding: 20px 20px 0;
  }
  h1,
  h2 {
    font-size: 48px;
  }
  p {
    font-size: 18px;
  }
  button {
    font-size: 20px;
  }
  .menu a {
    font-size: 0.9rem;
  }
  .header_search {
    min-width: 190px;
  }
  .header_search input {
    height: 35px;
    font-size: 0.8rem;
  }
  .banner_image_block {
    width: 45%;
  }
  .catalog_prew .container {
    padding: 40px 0;
  }
  .cards {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .card {
    max-width: 45%;
  }
  .best_text {
    padding: 0 20px 0 20px;
  }
  .best_text h2 {
    font-size: 48px;
  }
  .sale button {
    width: 100%;
  }
  .sale_title {
    font-size: 28px;
    line-height: 1;
  }
  .original .container {
    width: 70%;
    padding: 40px;
  }
  .trend_cards {
    gap: 15px;
  }
  .trend_cards .trend_card {
    padding: 0 15px 20px;
  }
  .trend_cards button {
    width: 110%;
    font-size: 16px;
  }
  .legacy .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 50px;
  }
  footer nav {
    width: 85%;
  }
  .subscribe {
    width: 85%;
    -ms-flex-item-align: center;
        align-self: center;
  }
  .catalog .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .catalog .filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    margin: 0 0 20px 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .catalog .filter > div {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    border: 1px solid #a04955;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
  }
  .catalog .filter > div:last-child {
    max-width: calc(100% - 10px);
  }
  .catalog .filter .filter_title {
    letter-spacing: normal;
    padding: 0 40px 0 10px;
  }
  .catalog .filter .filter_body {
    position: absolute;
    left: 0;
    width: 100%;
    background-color: #f1f1f1;
    z-index: 1;
  }
  .catalog .filter .filter_body form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .catalog .filter hr {
    display: none;
  }
  .catalog .cards {
    width: 100%;
    -webkit-column-gap: 0;
       -moz-column-gap: 0;
            column-gap: 0;
  }
  .catalog .cards .card {
    width: calc((100% - 60px) / 3);
    margin: 0 8px;
  }
  .product {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 50px;
  }
  .product_image {
    width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .product_image > div {
    width: 50% !important;
  }
  .product_image .small_imgs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
  .product_info {
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 50px;
  }
  .up {
    right: 40px;
    width: 50px;
    height: 50px;
  }
}
@media all and (max-width: 767px) {
  .wrapper {
    padding: 20px 20px 0;
  }
  .mobile_menu-btn {
    display: block;
  }
  nav {
    display: none;
  }
  .banner .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 30px 0 40px;
    gap: 40px;
  }
  .banner_text {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
    text-align: center;
  }
  .banner_image_block {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
  }
  .catalog_prew .container {
    padding: 30px 0;
  }
  .catalog_prew h2 {
    font-size: 32px;
    text-align: center;
  }
  .catalog_prew p {
    font-size: 48px;
  }
  .cards {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 0;
       -moz-column-gap: 0;
            column-gap: 0;
  }
  .card {
    padding: 20px;
  }
  .bestselling .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 40px 0;
    text-align: center;
    gap: 40px;
  }
  .best_image_block {
    width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .best_text {
    width: 100%;
  }
  .sale .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 0 40px;
    margin: 30px auto;
    gap: 40px;
  }
  .sale .container > div {
    width: 100%;
  }
  .sale .container p {
    width: 75%;
  }
  .sale_title {
    font-size: 28px;
  }
  .sale button {
    width: 70%;
  }
  .original .container {
    width: 100%;
    padding: 40px 20px;
  }
  .original .container p {
    text-align: center;
  }
  .trend .container {
    padding: 40px 0;
  }
  .trend .container::before {
    top: 40px;
  }
  .trend_cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .trend_cards .trend_card {
    width: 100%;
  }
  .trend_cards .trend_card button {
    width: 80%;
  }
  footer .container {
    padding-bottom: 0;
  }
  footer nav {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    gap: 30px;
  }
  .subscribe {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 50px;
  }
  .subscribe .input {
    width: 100%;
    padding: 5px;
    height: 50px;
  }
  .subscribe input[type=email] {
    width: 60%;
  }
  .subscribe input[type=submit] {
    width: 37%;
    height: 36px;
  }
  .catalog .container {
    padding: 20px 15px 80px;
  }
  .catalog .cards .card {
    width: calc((100% - 28px) / 2);
    margin: 0 7px;
  }
  .product {
    padding: 20px;
  }
  .product_image {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .small_img {
    width: 80px !important;
    height: 80px !important;
  }
  .product_info {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: 0;
    padding: 0;
  }
  .up {
    right: 30px;
  }
  .cart_icon {
    right: 30px;
  }
  .search {
    width: 100%;
  }
  .copyright {
    padding: 10px 20px;
  }
}
@media all and (max-width: 620px) {
  .cart_icon {
    right: 0;
  }
  .cart_icon span {
    width: 15px;
    height: 15px;
    font-size: 10px;
    top: 9px;
  }
}
@media all and (max-width: 499px) {
  .header_search {
    display: none;
  }
  .mobile_menu-btn {
    width: 50%;
  }
  .cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .card {
    max-width: 80%;
  }
  .sale_title {
    font-size: 24px;
    line-height: 1;
  }
  .sale button {
    width: 100%;
    font-size: 18px;
    padding: 8px;
  }
  .legacy .container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .legacy .container::before {
    height: 80%;
  }
  .catalog .container {
    padding: 20px 30px 80px;
  }
  .catalog .cards .card {
    width: 100%;
    margin: 0;
  }
  .catalog .pagination {
    gap: 5px;
    padding: 0;
  }
  .free_items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 20px;
  }
  .free_items > div {
    width: 100% !important;
  }
  .up img {
    width: 50%;
    height: 50%;
  }
  .cart_icon {
    width: 60px;
    height: 60px;
  }
  .subscribe input {
    font-size: 14px;
  }
  .copyright {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 10px 0;
  }
  .search {
    display: none;
  }
  .bread_search {
    height: 35px;
    margin-bottom: 0;
  }
  .bread_search .breadcrumbs {
    font-size: 18px;
    background-size: 20px 20px;
  }
  .cart h2 {
    font-size: 26px;
  }
  .cart table td {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    max-width: 50px !important;
    overflow: hidden;
    text-align: center;
    border-left: 1px solid #a04955;
  }
  .cart table td:first-child {
    border: none;
  }
  .cart table thead {
    font-size: 14px;
  }
  .cart table p {
    font-size: 12px;
    word-wrap: break-word;
  }
  .cart table img {
    max-height: 60px;
  }
}